.container{
	margin: 20% auto;
	max-width: 640px;
	text-align: center;
}

.outer-shell{
	position: relative;
	background-color: darkgray;
	width: 600px;
	height: 300px;
	border-radius: 5px;
}

.inner-shell{
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: black;
	width: 480px;
	height: 240px;
	border-radius: 3px;
}

.clock-screen{
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: darkred;
	width: 380px;
	height: 190px;
	border-radius: 2px;
}