.container{
	margin: 20% auto;
	max-width: 640px;
	text-align: center;
}

.outer-shell{
	position: relative;
	background-color: darkgray;
	width: 600px;
	height: 300px;
	border-radius: 5px;
}

.inner-shell{
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: black;
	width: 480px;
	height: 240px;
	border-radius: 3px;
}

.clock-screen{
	position: absolute;
	top: 15%;
	left: 16%;
	background-color: darkred;
	width: 340px;
	height: 100px;
	border-radius: 2px;
}

.am-pm{
	margin: 0;
	display: inline-block;
	position: absolute;
	right: 425px;
	top: 50px;
	color: white;
	line-height: 50px;
}

.inactive{
	color: gray;
	opacity: 0.4;
}

.bottom-am-label{
	opacity: .8;
	margin: 0;
	display: inline-block;
	position: absolute;
	right: 90px;
	top: 135px;
	color: white;
	line-height: 50px;
	letter-spacing: 3px;
}

.bottom-fm-label{
	opacity: .8;
	margin: 0;
	display: inline-block;
	position: absolute;
	right: 89px;
	top: 160px;
	color: white;
	line-height: 50px;
	letter-spacing: 3px;
}

.clock-text{
	font-size: 94px;
	display: inline-block;
	position: absolute;
	right: 100px;
	top: -54px;
	font-family: 'Wallpoet', cursive;
	color: red;
	opacity: .75;
}

.snooze{
	float: right;
	margin: 0;
	margin-right: 20px;
	height: 10px;
	width: 20px;
	background-color: black;
	position: relative;
	top: -35px;
	left: -15px;
	border-radius: 8px;
	z-index: -1;
}


